div {
    box-shadow: 10;
    background-color: skyblue;
    width: 700px;
    height: 1090px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 30px;
}

.info {
    width: 600px;
    height: auto;
    background-color: white;
    opacity: 60%;
}

p {
    font-size: 18px;
    padding-left: 10%;
}

.first {
    margin-top: 8%;
}

.biodata {
    font-size: 40px;
    margin-left: 190px;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 50%;
}

audio {
    margin-left: 395px;
    margin-top: 5px;
    width: 700px;
}
video{
    margin-left: 395px;
    margin-top: 5px;
    margin-bottom: 40px;
}